.blog-card {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}

.blog-card>img {
    width: 100%;
    height: 350px;
}


.author-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author {
    display: flex;
    align-items: center;
}

.author h3 {
    margin-bottom: -10px;
}

.author img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.read-time {
    text-align: end;
}

.hashtag {
    color: rgba(17, 17, 17, 0.6);
}

button {
    border: 0;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #6047EC;
    text-decoration: underline;
    cursor: pointer;
}

.bookmark-handler {
    margin-left: 5px;
    cursor: pointer;
}

.publish-date {
    color: rgba(17, 17, 17, 0.6);
    font-size: 14px;
}

@media (max-width: 576px) {
    .blog-card>img {
        height: 200px;
    }

    .author img {
        width: 60px;
        height: 60px;
    }

    .author h3 {
        font-size: 18px;
        line-height: 15px;
    }

    .publish-date {
        line-height: 20px;
    }
}
