.blog-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding-top: 20px;
}

.bookmark-section {
    position: sticky;
    top: 0;
}
.bookmark-section{
    background-color: none;
}

@media  (max-width: 576px) {
    .blog-container {
        display: flex;
        flex-direction: column;
    }

}

@media   (min-width: 577px) and (max-width: 767.98px) {
    .blog-container {
        display: flex;
        flex-direction: column;
    }

  }

